* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/images/movie.png");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: inherit;
}

.card {
    margin: 20px 250px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 15px;
    color: white;
    background-color: black;
    border: 2px solid red;
}